blessings == 1.5
mach == 0.2
mozinfo == 0.4
mozprocess == 0.9
numpy == 1.7.1
progress == 1.1
pytz >= 2013b
thrift == 0.9.0
urllib3 == 1.6

# Install a custom version of cql with patches not yet released.
git+git://github.com/indygreg/cassandra-dbapi2.git@4fab952c403538f87d400c051ecf1e8467612888#egg=cql
